/* In game starts first */

#timerDisplay {
    background-color: var(--background) !important;
    box-shadow: 4px 4px 0px 0px var(--sidebar);
}

#timerDisplay::before {
    font-size: 15px !important;
    background-color: var(--sidebar);
    content: "TIME";
    color: #fff;
    padding: 6px;
    position: absolute;
    bottom: -12px;
    left: -16px;
}

#timerVal {
    color: var(--accent);
    padding-left: 3px;
    font-size: 32px;
    will-change: none;
}

#leaderDisplay {
  background-color: var(--background) !important;
  border-radius: 0 !important;
  box-shadow: 4px 4px 0px 0px var(--sidebar);
  padding-top: 30px;
}

#leaderDisplay::before {
  content: "LEADERBOARD";
  font-size: 15px !important;
  background-color: var(--sidebar);
  position: absolute;
  display: block;
  top: 8px;
  left: -8px;
}

.leaderName {
    color: var(--text-color);
}

.leaderCounter, .leaderNameM, .leaderScore {
    color: var(--accent);
}

.leaderNameF {
    color: var(--text-color);
    opacity: 0.5;
}

.topRightCounters {
    position: fixed;
    top: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto !important;
    transform: translateY(-50%);
}

.countIcon {
    background-color: transparent;
    border-radius: 0;
    font-size: 32px;
}

#killsIcon, #deathsIcon, #streakIcon, #kdIcon {
    height: 24px;
    width: 24px;
}

.countIcon .material-icons {
    font-size: 28px !important;
}

#deathsVal,
#killsVal,
#livesDisp,
#streakVal,
#myScoreVal {
    color: white !important;
    bottom: 7px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after,
#killsVal::after,
#streakVal::after,
#myScoreVal::after,
#livesDisp::after {
    display: block;
    position: fixed;
    margin-top: 45px;
    font-size: 14px;
    text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#deathsVal::after {
    content: 'Deaths';
}

#killsVal::after {
    content: 'Kills';
}

#streakVal::after {
    content: 'Streak';
}

#myScoreVal::after {
    content: 'Score';
}

#livesDisp::after {
    content: 'Lives';
}

#killsIcon,
#deathsIcon,
#streakIcon,
#scoreCount .material-icons,
#livesCount .material-icons {
    display: none;
}

.kfItem {
    border-radius: 10px;
    background-color: var(--ingame-bg-color);
}

#killStreakHolder {
    position: fixed;
    bottom: 75px;
	right: 15px;
	margin-right: 0;
    margin-bottom: 0;
}

.killStreakItem {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

/* thing */

#challIcon {
    display: none;
}

#healthBar {
    background-color: rgba(0,0,0,.4);
}

#hudClassIcon, .healthBarSeg, .hpBSeg {
  display: none;
}



/*

#hudClassIcon {
    background-color: #fff0;
}

#hudClassIcon img{
    content: url(https://media.discordapp.net/attachments/429657093063180289/987968501543215134/lol_dead.png?width=464&height=463);
    border-radius: 100%;
    filter: drop-shadow(3px 3px var(--bg-color2)) drop-shadow(3px 3px var(--bg-color2)) drop-shadow(3px 3px var(--bg-color2))
}

*/

#curGameInfo:after {
    font-size: 23px !important;
    color: #ffffff;
    padding-top: 10px;
    content: "dajeClient v0.1.5";
}

#curGameInfo:before {
    font-size: 13px !important;
    color: #6fff6e;
    content: "";
}

#curGameInfo {
    font-size: 0;
}

#weapDisplay {
    bottom: 30px;
    right: 1020px;
}

.weapItem {
    position: absolute;
    bottom: 0;
    right: 0;
}

.weapIcon {
    filter: brightness(2) drop-shadow(2px 2px var(--bg-color2)) drop-shadow(2px 2px var(--bg-color2)) drop-shadow(2px 2px var(--bg-color2));
    opacity: 0 !important;
    transition-duration: 0.25s;
    height: 0;
    width: 160px;
}

.weapIcon[style*="1"] {
    opacity: 1 !important;
    height: 70px;
}

#weapIconMel {
    margin: 0 !important;
}

.weapKey {
    display: none;
}

#ammoDisplay {
    position: fixed;
    background-image: url(https://dummyimage.com/1x1/ffffff/ffffff.png);
    background-color: #fff0;
    transform: none;
    width: 50px;
	height: 4px;
	top: calc(50% + 35px);
	left: calc(50% - 25px);
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    border-radius: 0;
}

#reloadMsg {
    bottom: calc(50% - 200px);
    background-color: transparent !important;
    border: none;
    color: var(--sidebar);
    font-family: 'Material Icons';
    font-size: 0;
    animation: breathe 1s infinite alternate;
}

#reloadMsg::before {
    content: "report_problem";
    font-size: 64px;
}

#ammoVal {
    color: var(--background);
    font-size: 96px;
    display: inline-block;
    position: fixed;
    left: calc(50% + 180px);
    bottom: 20px;
    text-shadow: 12px 6px var(--sidebar);
    filter: drop-shadow(2px 2px var(--sidebar)) drop-shadow(-2px -2px var(--sidebar)) drop-shadow(-2px 2px var(--sidebar)) drop-shadow(2px -2px var(--sidebar));
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none;
}

#healthValueHolder {
    padding: 0;
    margin: 0;
    position: fixed;
    left: calc(50% - 310px);
    bottom: 20px;
    background-color: transparent;
}

#healthValue {
    color: var(--background);
    font-size: 96px;
    text-shadow: 12px 6px var(--sidebar);
    filter: drop-shadow(2px 2px var(--sidebar)) drop-shadow(-2px -2px var(--sidebar)) drop-shadow(-2px 2px var(--sidebar)) drop-shadow(2px -2px var(--sidebar));
}

#maxHP {
    display: none;
}

/* CSS made by daje */
/* I got random ideas from my head to make this */

/* Menu */

/* Font and Colors */

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/Yadub/BoulderBox/master/fonts/Fontfabric---Mont-Heavy.otf);
}

@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/9b7aer2osbcd388/logotypejp_mp_b_1.1.ttf?dl=0);
}


:root {
    --accent: #fff;
    --ph2: #BC002D;
    --background: #50596b;
    --sidebar: #d2bb8e;
    --enemy: #f05f5f;
    --friendly: #29d6a6;
    --black: #000;
    --trans: #ffffff;
    --bg-color2: #000;
    --text-color: #000000;
    --ava: url(https://media.discordapp.net/attachments/429657093063180289/987968501543215134/lol_dead.png?width=464&height=463);
}

a {
    color: var(--ph2);
}

/* Removal */

#newsHolder,
#aHolder, 
.endAHolder, 
#aMerger,
.imageButton,.krSocial,
#editorBtnM,
#onetrust-consent-sdk,
#policeButton,
#timerIcon,
#voiceDisplay,
.purejscarousel-slide,
::-webkit-scrollbar,
.terms,
#termsInfo,
#mainLogo,
#seasonLabel,
#rankedSoonTm,
#faceItIconM,
.menBtnIcn,
#challIcon, #clientExit {
    display: none !important;
}

.buttonG, .buttonO, .buttonR, .buttonPI, .buttonB, .buttonP {
    border: none !important
}

.button:active {
    border: none !important;
    transform: none !important;
}

.verticalSeparator {
  opacity: 0;
}

/* Frame */

#tlInfHold {
    display: none !important;
}

.youNewDiv {
    display: none !important;
}

#mainLogo {
    display: none;
}

#instructionHolder {
    backdrop-filter: blur(5px) grayscale(1);
}

#instructions {
    display: none;
}

#instructionsUpdate {
    background-color: transparent;
}

.headerBarLeft {
    background-color: transparent;
    padding-left: 12px !important;
    left: 25px;
    top: unset;
    bottom: 1030px;
}

#menuMiniProfilePic {
  content: url(https://media.discordapp.net/attachments/429657093063180289/987968501543215134/lol_dead.png?width=464&height=463);
  vertical-align: top;
  display: block;
  width: 100px;
  height: 100px;
  image-rendering: optimizequality !important;
  margin-right: 1px;
  border-radius: 50%;
}

#menuAccountUsername {
    position: relative;
    top: 12px;
}

#menuKRCount, #menuJNKCount {
    color: #fff;
}

#menuKRCount span, #menuJNKCount span {
    color: var(--accent) !important;
}

#menuJNKCount .material-icons {
    font-size: 24px !important;
    vertical-align: middle !important;
}

#mailCount {
    background-color: var(--bad);
    border: none;
}

.headerBar div {
    font-size: 24px;
}

#mLevelCont, .progressBar {
    display: none;
}

#headerRight {
    display: none;
}

#uiBase.onMenu #spectButton {
    display: flex;
    align-items: center;
    position: absolute;
    top: 141px;
    left: 500px;
    transform: unset;
    z-index: 2;
    color: rgba(255,255,255,.5);
    font-size: 18px;
}

#spectButton span {
    font-size: 0 !important;
}

#spectButton .switchsml {
    margin: 0;
    width: 44px;
    height: 44px;
}

.sliderSml::before {
    content: "visibility_off";
    font-size: 44px;
    color: #fff;
    width: max-content;
    height: auto;
    background-color: transparent;
    text-align: center;
    transition-duration: 0.25s;
    font-family: 'Material Icons';
    left: unset;
    bottom: unset;
}

input:checked+.sliderSml::before {
    content: "visibility";
    transform: unset;
}

input:checked+.sliderSml {
    background-color: transparent !important;
}

.sliderSml {
    opacity: 1;
    background-color: transparent;
}

/* Sublogo Buttons */

.button, .button:hover { 
    border: none !important;
}

#subLogoButtons>.button {
    background-color: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 35px !important;
    color: var(--ph2);
    padding: 8px 16px !important;
}

#subLogoButtons {
    bottom: unset;
    top: 75px;
    left: 11px;
    right: unset;
    transform: none;
}

#subLogoButtons>.button::after {
    font-size: 44px;
    font-family: JP;
}

#subLogoButtons:hover {
    background: transparent;
    color: transparent;
    border: none;
}

/*

#menuBtnHost::after {
    content: " ホスト";
    color: var(--accent);
}

#menuBtnBrowser::after {
    content: " サーバー";
    color: var(--accent);
}

#menuBtnRanked::after {
    content: " ランク";
    color: var(--accent);
}

#rankedSoonTm {
    display: none;
}

#inviteButton::after {
    content: " 参加";
    color: var(--accent);
}

#menuBtnJoin::after {
    content: " 招待";
    color: var(--accent);
}

*/

/* Menu Item */

#menuItemContainer {
    width: fit-content;
    height: min-content;
    top: 20px;
    left: 35%;
    transform: translateX(-50%);
    flex-direction: row;
    background-color: #fff0;
}

.menuItem {
    align-items: center;
    background: transparent;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
    pointer-events: none;
}

.menuItem:hover {
    background: transparent;
    color: white;
    border-left: none;
}

.menuItem:active {
    background: transparent;
    color: white;
}

.menuItem .menuItemTitle {
    margin-top: 0;
    font-size: 35px !important;
    text-transform: var(--text-transform);
    pointer-events: all;
    transition: all .2s;
}

.menuItem {
    margin-top: 0;
    color: #ffffff !important;
    font-size: 58px !important;
    text-transform: var(--text-transform);
    pointer-events: all;
    transition: all .2s;
    justify-content: space-evenly!important;
}

.menuItem .menuItemIcon {
    position: relative;
    width: 100%;
    height: 45%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

/* Chatbox */

#uiBase.onMenu #chatHolder {
    left: 60%;
    bottom: 50px;
    transform: translateX(-290%);
    width: 420px;
}

#uiBase.onGame #chatHolder {
    left: 57px !important;
    bottom: 70px !important;
}

#uiBase.onEndScrn #chatHolder {
    left: 208px !important;
    bottom: 54px !important;
}

#uiBase.onCompMenu #chatHolder {
    bottom: 160px !important;
}

#chatList {
    background-color: transparent;
}

#chatList::-webkit-scrollbar {
    display: none;
}

#uiBase.onMenu #chatList {
    text-align: center;
    -webkit-mask-image: linear-gradient(0deg, black, transparent 200px);
}

#uiBase.onMenu .chatItem {
    max-width: 420px;
}

.chatItem {
    font-size: 24px;
    margin-left: 0;
    margin-top: 8px;
}

div:last-child .chatItem {
    margin-bottom: 0;
}

.chatMsg {
    color: #fff;
}

.chatMsg span[style*="#eb5656"] {
    color: var(--enemy) !important;
}

.chatMsg span[style*="#9eeb56"] {
    color: var(--friendly) !important;
}

.chatMsg[style*="color"] {
    color: var(--accent) !important;
}

#chatInputHolder {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0;
    margin: 0;
}

#voiceDisplay {
    background-color: transparent;
    border: none;
}

#uiBase.onGame #voiceDisplay {
    bottom: 62px;
}

#uiBase.onMenu #voiceDisplay {
    left: calc(50% + 180px);
}

#voiceIcon.voiceOff {
    color: transparent !important;
}

#recTimer {
    display: none;
}

#chatInput {
    font-size: 0px;
    padding: 0 8px;
    border: none;
    border-bottom: 0px solid transparent;
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    width: -webkit-fill-available;
    transition-duration: 0.25s;
}

#chatInput::placeholder {
    color: transparent;
    font-size: 0;
}

#chatInput:focus {
    font-size: 24px;
    border-bottom: 4px solid #fff;
    margin-top: 8px;
}

#chatSwitchHolder {
    position: absolute;
    right: calc(100% + 12px);
    bottom: 0;
}

#chatSwitch {
    font-size: 36px;
    color: transparent;
    transition-duration: 0.25s;
}

#chatHolder:hover #chatSwitch {
    color: #fff;
}

/* Customize */

#menuClassContainer {
    transform: unset;
    right: 40px;
    bottom: 40px;
    top: unset;
    align-items: flex-end;
    padding: 0 12px;
}

#menuClassNameTag {
    display: none;
}

#customizeButton {
    background-color: transparent;
    border: none !important;
    font-size: 48px !important;
    text-shadow: none !important;
    width: max-content;
    height: unset;
    line-height: unset;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#customizeButton:hover {
    transform: unset;
}

#customizeButton .material-icons {
    display: none;
}

#menuClassName {
    font-size: 48px;
    text-shadow: none;
    text-transform: uppercase;
    margin: 0;
}

#menuClassSubtext {
    margin-bottom: 16px;
    text-shadow: none;
    font-size: 48px;
    position: absolute;
    bottom: 100%;
    width: max-content;
    text-transform: uppercase;
}

#classPreviewCanvas {
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
}

/* filter: drop-shadow(4px 4px var(--ph1)) drop-shadow(-3px -3px var(--ph2)) drop-shadow(4px -4px var(--accent)); */

#bubbleContainer {
    display: none;
}

#policeButton {
    position: absolute;
    bottom: 0px;
    right: calc(100% + 30px);
    background-color: transparent;
    border: none !important;
    margin: 0;
    height: auto !important;
    width: auto !important;
}

#policeButton img {
    display: none;
}

#policeButton::before {
    content: "report";
    font-family: 'Material Icons';
    font-size: 40px;
    color: var(--enemy);
}

#mapInfoHolder {
    bottom: 36px;
}

.onMenu #infoHolder {
    display: none;
}

#termsInfo {
    background-color: transparent;
}

.terms {
    font-size: 24px;
}

.verticalSeparatorInline {
    height: 40px;
}

/* Menu Timer */

#menuWindow.dark {
    background-color: transparent !important;
    box-shadow: none !important;
} 

#uiBase.onMenu #spectateUI {
    display: block !important;
    text-align: left !important;
}

#uiBase.onMenu #spectateHUD {
    top: 40px !important;
    left: unset !important;
    z-index: 1;
    text-shadow: none;
    line-height: unset;
    position: relative !important;
    transform: unset !important;
}

#uiBase.onMenu #specNames, #uiBase.onMenu #specKPDContr, #uiBase.onMenu #specNames, #uiBase.onMenu #specContr, #uiBase.onMenu #specTeam0, #uiBase.onMenu #spec0, #uiBase.onMenu #specTeam1, #uiBase.onMenu #spec1, #specGMessage {
    display: none !important;
}

#uiBase.onMenu .spectateInfo {
    position: absolute !important;
    right: 32px !important;
    top: -25px !important;
    margin: 0 !important;
}

#uiBase.onMenu #specTimer {
    background-color: transparent;
    padding: 0;
    font-size: 64px !important;
    min-width: unset !important;
    position: initial !important;
    transform: unset !important;
    padding: 0 !important;
    width: unset !important;
    text-align: right !important;
}

#specGameInfo {
    color: var(--accent);
}

#uiBase.onMenu #specGameInfo {
    font-size: 48px !important;
    margin-top: 10px !important;
}

#uiBase.onSpect #spectateHUD {
    top: 64px;
}

.spectateInfo {
    position: relative;
    top: 12px;
}

#specNames {
    padding: 0;
    font-size: 32px;
    display: block !important;
    left: 52px;
    top: 52px;
    background-color: transparent;
    text-shadow: var(--hud-text-shadow);
}

#specStats {
    left: 50%;
    top: unset;
    bottom: 72px;
    padding: 0;
    transform: translateX(-50%);
    background-color: transparent;
}

.specPHead {
    text-shadow: var(--hud-text-shadow);
}

.specLevelBox {
    vertical-align: baseline;
    padding-bottom: 0;
}

.spectPIcon {
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.specFlag~div {
    float: right;
    text-align: right;
    position: relative;
    top: 12px;
}

#spectHPB {
    background-color: transparent;
}

#spectHPBI {
    display: none;
}

#spectHPV {
    font-size: 32px;
    text-shadow: var(--hud-text-shadow);
    top: unset;
    bottom: -8px;
    left: unset;
    right: 0;
    color: var(--health);
}

#specContr {
    border: none;
    background-color: transparent;
    padding: 0;
    right: 52px;
    bottom: 64px;
}

.specContrI {
    color: #fff;
    text-shadow: var(--hud-text-shadow);
}

.specContrI span {
    color: var(--accent) !important;
}

#specTimer {
    background-color: transparent;
    padding: 0;
    font-size: 64px !important;
    min-width: unset !important;
    position: initial !important;
    transform: unset !important;
    padding: 0 !important;
}


/* menu window */

#setBod_interface>div:nth-child(1)>label>input[type=checkbox]+.slider {
    background: grey
}

.settName[title="Scales the menu UI"] {
    positioN: relative
}

.settName[title="Scales the menu UI"]::after {
    content: 'lock';
    font-family: Material Icons;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    top: -5px;
    border-radius: 5px;
    padding: 5px;
    width: 101.5%;
    height: 101.5%;
    position: absolute;
    right: -9px;
    background: #000000cc;
    padding: 0px;
    justify-content: center
}

#menuWindow[style="overflow-y: auto; width: 810px;"] {
    transform: initial;
    max-height: 100% !important;
    height: 100% !important;
    left: 0px;
    top: 0;
}

selectorContainer {
    height: 100%;
    background-color: var(--trans);
}
.selectorItem {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 20%;
    background-color: var(--accent);
    border: 4px solid var(--black) !important;
    align-items: center;
    left: 20px;
    transform: translate(7px, -7px);
    box-shadow: -1px 1px var(--black), -2px 2px var(--black),
    -3px 3px var(--black), -4px 4px var(--black), -5px 5px var(--black),
    -6px 6px var(--black), -7px 7px var(--black);
}

  background-color: initial;
  transform: translate(0);
  box-shadow: 0 0 black;
}
.selectorLabel {
    position: initial;
}
.classCard {
    text-shadow: 0 0 black;
    filter: drop-shadow(0 0 0rem #000000);
    background-color: var(--accent);
    border: 4px solid var(--black);
    width: 174px;
    transition: 0.2s;
}
.classCard:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px var(--black);
}
.classWeap {
    opacity: 0;
}
.classXPBar {
    display: none;
}

#itemSearch,
#rawMapData {
    background-color: var(--accent) !important;
    border: 4px solid var(--black) !important;
    transition: 0.5s;
}
#loadoutName:focus,
#itemSearch:focus,
#rawMapData:focus {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px var(--black);
}

#loadoutSelect {
    background-color: var(--accent) !important;
    border: 4px solid var(--black) !important;
}

.loadoutBtn {
    border: 4px solid var(--black);
    background-color: var(--accent);
    transition: 0.2s;
}

.loadoutBtn:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--black);
}

.custContainer {
    background-color: var(--accent);
    border: 4px solid var(--black);
    box-shadow: inset 0 0 black;
    transform: translate(0);
    width: 95% !important;
    opacity: 1;
    transition: 0.2s;
}

.contCanSelect:hover, .skinCard:hover {
    background-color: initial;
    transform: translate(10px, -10px);
    box-shadow: -10px 10px var(--black);
}

#itemSearchH {
    background-color: var(--trans);
}

#menuWindow[style="overflow-y: hidden; width: 877px;"] {
    transform: initial;
    max-height: 100% !important;
    height: 100% !important;
    left: 0px;
    top: 0;
}

#skinList {
    overflow-y: initial !important;
}

.custBack {
    background: var(--accent);
    order: 2px solid var(--ph2);
}

.itemOwn,
.itemSea {
    opacity: 0;
}

.skinCard {
    transition: 0.2s;
}

#menuWindow.dark {
    background-color: white !important;
    box-shadow: none !important;
}

/* Servers Page */

.serverHeader,
.optCheck {
    background-color: var(--trans);
}

#serverSearch {
    background-color: var(--accent);
    border: 4px solid var(--black);
    transform: transform(20px, 20px);
    transition: 0.5s;
}

#serverSearch::placeholder,
#serverSearch {
    color: var(--black) !important;
}

#serverSearch:focus {
    background-color: var(--black);
    border: 4px solid var(--black);
    height: 100%;
    padding: 8px 0px 8px 20px;
}

#serverSearch:focus::placeholder {
    color: white !important;
}

.slide {
    border: 15px solid var(--trans);
}

.slideName,
.slidePlayers {
    color: var(--accent) !important;
    text-shadow: 0 0 black;
}

.purejscarousel-btn {
    background-color: var(--accent) !important;
}

#hideFull span {
    color: var(--black) !important;
}

#hostMenuBtn {
    background-color: var(--trans);
}

#serverHolder span[style="float:right;color:rgba(255,255,255,0.9)"],
#serverHolder span[style="color:rgba(255,255,255,0.6)"] {
    color: var(--black) !important;
}

.quickJoin {
    border: 4px solid var(--black);
}

.quickJoin:hover {
    transform: initial;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px var(--black);
}

/* Mods Page */

#bigMFeatHBtn span {
  color: var(--black) !important;
}

.bigMFeatHold {
  border: 4px solid var(--black) !important;
  background: var(--accent) !important;
}

.bigMFeatHold #bigMFeatPBtn,
.bigMFeatHold #bigMFeatHBtn {
  border: 4px solid var(--black) !important;
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black), 6px 6px var(--black),
    7px 7px var(--black), 8px 8px var(--black), 9px 9px var(--black),
    10px 10px var(--black);
  -webkit-transform: scale(1);
  transform: translate(-10px, -10px);
  background: var(--accent);
  color: var(--black) !important;
}

#bigMFeatPBtn:hover,
.bigMFeatHold #bigMFeatHBtn:hover {
  transform: translate(0px, 0px);
  box-shadow: 0 0 black;
}

.mapListCat {
  background: var(--accent);
}

.mapListItem {
  color: var(--black) !important;
  border: 3px solid var(--black);
  background-color: var(--accent);
  transition: 0.3s;
}

.mapListItem:hover .mapActionOvrl {
  z-index: 9999999999;
  opacity: 0;
}

.mapListItem:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--black);
}

.mapListItem div span[style="font-size:15px;text-align:right;padding-right:2px;float:right;color:#fff;"],
.mapListItem div span[style="font-size:15px;text-align:right;padding-right:2px;float:right;color:#fff;"] span{
  color: var(--black) !important;
}

#mdSrch {
  color: var(--accent) !important;
  background-color: var(--trans);
  border: 4px solid var(--black);
  transition: 0.2s;
  width: calc(100% - 100px);
}

#mdSrch::placeholder {
  color: var(--black);
}
#mdSrch:focus {
  background: var(--black);
  padding-left: 50px;
}

#mdSrch:focus::placeholder {
  color: var(--accent);
}

.searchBtn {
  background-color: var(--accent);
  border: 4px inset var(--black);
  height: 65px;
  transform: translate(-10px, -10px);
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black), 6px 6px var(--black),
    7px 7px var(--black), 8px 8px var(--black), 9px 9px var(--black),
    10px 10px var(--black);
  transition: 0.3s;
}

.searchBtn:hover {
  box-shadow: 0 0 black;
  transform: translate(0);
}

/* Settomgs Page */

.settingsHeader {
  background-color: var(--accent);
}
#settSearch {
  background-color: var(--accent);
  border: 4px solid var(--black);
  transition: 0.5s;
}
#settSearch:focus {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--black);
}
.settingsBtn,
.hostPresetBtn {
  border: 4px solid var(--black);
  background-color: var(--accent);
  transition: 0.2s;
}
.settingsBtn:hover,
.hostPresetBtn:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--black);
}
.inputGrey2 {
  padding: 0;
  border: 4px solid var(--black);
  background: var(--accent);
  padding: 5px;
}

.settingTab {
  border: 0 !important;
  background-color: var(--accent);
  padding: 15px 0 15px;
  transition: 0.3s;
}
#settingsTabLayout {
  border: 4px solid var(--black);
  background-color: var(--trans);
}
.dark .tabANew:hover {
  border-bottom: 4px solid var(--black) !important;
}
.settingTab:hover {
  border: 4px inset var(--black) !important;

  z-index: 1 !important;
  box-shadow: 7px 7px rgb(0 0 0);
  transform: translate(-10px, -10px);
  background-color: var(--accent);
}

.setSugBox2 {
  border: 4px solid var(--black);
  background-color: var(--accent);
  transform: translate(-10px, -10px);
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black), 6px 6px var(--black),
    7px 7px var(--black), 8px 8px var(--black), 9px 9px var(--black),
    10px 10px var(--black);
  transition: 0.2s;
}

.setSugBox2:hover {
  opacity: 1;
  border: 4px solid var(--black);
  transform: translate(0);
  box-shadow: 0 0 black;
}
.setBodH {
  background-color: var(--trans);
}
#requiresRestart {
  color: var(--black);
}
.slider {
  background-color: var(--ph2);
}
input:checked + .slider,
input:checked + .slider2,
input:checked + .optCheck {
  background-color: var(--black);
}

.sliderVal {
  color: var(--black);
  border: 4px solid var(--black) !important;
  background-color: var(--accent);
}

input[type="range"]::-webkit-slider-thumb {
  width: 19px;
  background: var(--accent);
  border: 4px solid var(--black);
}
input[type="color"] {
  border: 4px solid var(--black);
}
/*mods*/

#bigMFeatHBtn span {
  color: var(--black) !important;
}

.bigMFeatHold {
  border: 4px solid var(--black) !important;
  background: var(--accent) !important;
}
.bigMFeatHold #bigMFeatPBtn,
.bigMFeatHold #bigMFeatHBtn {
  border: 4px solid var(--black) !important;
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black), 6px 6px var(--black),
    7px 7px var(--black), 8px 8px var(--black), 9px 9px var(--black),
    10px 10px var(--black);
  -webkit-transform: scale(1);
  transform: translate(-10px, -10px);
  background: var(--accent);
  color: var(--black) !important;
}
#bigMFeatPBtn:hover,
.bigMFeatHold #bigMFeatHBtn:hover {
  transform: translate(0px, 0px);
  box-shadow: 0 0 black;
}

.mapListCat {
  background: var(--accent);
}
.mapListItem {
  color: var(--black) !important;
  border: 3px solid var(--black);
  background-color: var(--accent);
  transition: 0.3s;
}
.mapListItem:hover .mapActionOvrl {
  z-index: 9999999999;
  opacity: 0;
}
.mapListItem:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--black);
}

.mapListItem div span[style="font-size:15px;text-align:right;padding-right:2px;float:right;color:#fff;"],
.mapListItem div span[style="font-size:15px;text-align:right;padding-right:2px;float:right;color:#fff;"] span{
  color: var(--black) !important;
}
#mdSrch {
  color: var(--accent) !important;
  background-color: var(--trans);
  border: 4px solid var(--black);
  transition: 0.2s;
  width: calc(100% - 100px);
}
#mdSrch::placeholder {
  color: var(--black);
}
#mdSrch:focus {
  background: var(--black);
  padding-left: 50px;
}
#mdSrch:focus::placeholder {
  color: var(--accent);
}
.searchBtn {
  background-color: var(--accent);
  border: 4px inset var(--black);
  height: 65px;
  transform: translate(-10px, -10px);
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black), 6px 6px var(--black),
    7px 7px var(--black), 8px 8px var(--black), 9px 9px var(--black),
    10px 10px var(--black);
  transition: 0.3s;
}
.searchBtn:hover {
  box-shadow: 0 0 black;
  transform: translate(0);
}

/* Profile? */

#windowHolder {
  opacity: 0;
  background-color: #00000000 !important;
  transition: transform 1s, opacity 1s, background-color 2s;
  transform: translateX(-100%);
  display: inline-block !important;
}

#windowHolder[style*="block"] {
  opacity: 1;
  transition: transform 1s, opacity 0s;
  transform: translateX(0);
}

#menuWindow {
  border-radius: 6px;
  border: 5px solid var(--black);
  background-color: var(--accent) !important;
}
#menuWindow[style="overflow-y: auto; width: 1280px;"] {
  transform: initial;
  width: 800px !important;
  max-height: 100% !important;
  height: 95% !important;
  left: 0px;
  top: 0;
}
#menuWindow[style="overflow-y: auto; width: 1280px;"]  .setHed{
  border: 0;
}
#menuWindow.dark div {
  color: var(--black);
}
.bigMenTabs {
  color: var(--black) !important;
  background-color: var(--accent);
  border: 4px solid var(--black);
}
.bigMenTab {
  font-size: 20px !important;
  transition: 0.2s;
  z-index: 0 !important;
}
.bigMenTab:hover {
  border: 4px inset var(--black);
  z-index: 1 !important;
  box-shadow: 7px 7px rgb(0 0 0);
  transform: translate(-10px, -10px);
  background-color: var(--accent);
}

.material-icons,
.settName a,
.settName span,
.material-icons-outlined {
  color: var(--black) !important;
}

.setHed:hover,
.button,
#referralHeader,
#signedOutHeaderBar {
  background-color: var(--trans);
}

.setHed {
  background-color: var(--trans);
  border-bottom: 5px solid var(--black);
}

#profilePicM {
  border: 4px solid var(--black) !important;
  width: 300px;
  height: 300px;
  background: var(--ava);
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred {
  filter: grayscale(0) opacity(1);
  image-rendering: auto !important;
}

#profilePicM > img {
  opacity: 0;
}
.setBodH[style="display:inline-block;padding-top:10px;vertical-align:top;width:1004px;margin-left:15px;margin-top:0px;"] {
  width: 50% !important;
  height: 300px;
  background-color: var(--trans);
}

.settName {
  font-size: 30px;
  margin-top: 35px !important;
  font-weight: 600;
  color: var(--black) !important;
}

.settName a:hover {
  color: var(--gray) !important;
}

.xpBar {
  border: 4px solid var(--black);
  background-color: var(--trans);
  padding: 0px;
}
.xpBarB {
  background: var(--black);
}
.xpBarV {
  display: none;
}
.pSt {
  font-size: 15px;
  font-weight: 600;
  border: 2px solid var(--black);
  background-color: var(--trans);
  text-shadow: 0 0 black !important;
  width: 45% !important;
}
.pSt strong {
  color: var(--gray);
}
#menuWindow
  div[style="height:15px;margin-top:30px;border-top:4px solid rgba(255, 255, 255, 0.8);"] {
  display: none;
}
/* Mod Menu */

#signedOutHeaderBar .buttonO {
  border: 4px solid var(--black) !important;
  background-color: var(--accent);
  color: var(--black);
}
#signedOutHeaderBar .button:hover {
  color: black !important;
  transform: initial;
  transform: translate(20px, 0px) !important;
  box-shadow: -10px 0px;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: var(--accent) !important;
  color: -internal-light-dark(var(--black), var(--accent)) !important;
}
.accountInput {
  color: var(--black) !important;
  border: 4px solid var(--black);
}
.setBodH[style="margin-left:0px;width:calc(100% - 40px)"] {
  background-color: var(--trans);
}
#accResp,
#accResp span {
  color: var(--black) !important;
}

#menuWindow
  div[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"] {
  background-color: var(--trans) !important;
}

#menuWindow
  div[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"]
  .buttonP,

#menuWindow
  div[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"]
  .buttonG {
  border: 4px solid var(--black) !important;
  transform: translate(-10px, -10px);
  box-shadow: 7px 7px var(--black);
}

#menuWindow
  div[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"]
  .buttonP:hover,
#menuWindow
  div[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"]
  .buttonG:hover {
  color: var(--black) !important;
  transform: initial;
  box-shadow: 0px 0px var(--black);
}

/* Customize Page */

#menuWindow[style="overflow-y: auto; width: 810px;"] {
  transform: initial;
  max-height: 100% !important;
  height: 100% !important;
  left: 0px;
  top: 0;
}
#selectorContainer {
  height: 100%;
  background-color: var(--trans);
}
.selectorItem {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 20%;
  background-color: var(--accent);
  border: 4px solid var(--black) !important;
  align-items: center;
  left: 20px;
  transform: translate(7px, -7px);
  box-shadow: -1px 1px var(--black), -2px 2px var(--black),
    -3px 3px var(--black), -4px 4px var(--black), -5px 5px var(--black),
    -6px 6px var(--black), -7px 7px var(--black);
}
.selectorItem:hover {
  background-color: initial;
  transform: translate(0);
  box-shadow: 0 0 black;
}
.selectorLabel {
  position: initial;
}
.classCard {
  text-shadow: 0 0 black;
  filter: drop-shadow(0 0 0rem #000000);
  background-color: var(--accent;
  border: 4px solid var(--black);
  width: 174px;
  transition: 0.2s;
}
.classCard:hover {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--black);
}
.classWeap {
  opacity: 0;
}
.classXPBar {
  display: none;
}
#loadoutName,
#itemSearch,
#rawMapData {
  background-color:var(--accent !important;
  border: 4px solid var(--black) !important;
  transition: 0.5s;
}
#loadoutName:focus,
#itemSearch:focus,
#rawMapData:focus {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--black);
}

#loadoutSelect {
  background-color: var(--accent !important;
  border: 4px solid var(--black) !important;
}

.loadoutBtn {
  border: 4px solid var(--black);
  background-color: var(--accent;
  transition: 0.2s;
}
.loadoutBtn:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--black);
}
.custContainer {
  background-color: var(--accent;
  border: 4px solid var(--black);
  box-shadow: inset 0 0 black;
  transform: translate(0);
  width: 95% !important;
  opacity: 1;
  transition: 0.2s;
}
.contCanSelect:hover,
.skinCard:hover {
  background-color: initial;
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--black);
}
#itemSearchH {
  background-color: var(--trans);
}
#menuWindow[style="overflow-y: hidden; width: 877px;"] {
  transform: initial;
  max-height: 100% !important;
  height: 100% !important;
  left: 0px;
  top: 0;
}
#skinList {
  overflow-y: initial !important;
}
.custBack {
  background: var(--accent);
  border: 2px solid var(--black);
}
.itemOwn,
.itemSea {
  opacity: 0;
}
.skinCard {
  transition: 0.2s;
}

/* Challenges */

.challHeadrT {
  text-shadow: 0 0 0px #000;
  color: var(--black) !important;
}
.challHeadrImg {
  filter: drop-shadow(4px 4px var(--black)) drop-shadow(-4px -4px var(--black));
}
.challHeadrI {
  border: 4px solid var(--black);
}
.challHeadrS {
  color: var(--black) !important;
  text-shadow: 0 0 0px #000;
  background: var(--trans);
}
.challHeadrS span {
  color: var(--black) !important;
}
.chalCard,
.challCrdMsg {
  background: var(--trans);
  border: 4px solid var(--black);
}

.chalImgC {
  filter: drop-shadow(4px 4px var(--black)) drop-shadow(-4px -4px var(--black));
  background-color: var(--trans);
  border: 0;
}
.material-icons[style="font-size:110px;color:#38cd3a;"] {
  color: var(--accent) !important;
}
.chalXPBar {
  border: 4px solid var(--black);
  background-color: var(--trans);
  padding: 0;
  border-radius: 0px;
}
.chalXPBarC {
  background: var(--black);
  height: 100%;
  font-size: 16px;
  border-radius: 0px;
}
.chalXPVal {
  color: var(--accent) !important;
}
.chalRews {
  background: var(--trans);
  border: 0;
}

.challMapCrd {
  border: 3px solid var(--black);
  transition: 0.1s;
}
.challMapCrd:hover {
  transform: translate(-10px, -10px);
  filter: brightness(1);
  box-shadow: 10px 10px var(--black);
}
.challMapName {
  color: var(--accent) !important;
}

/*shop*/

.shopCard {
  border: 4px solid var(--black) !important;
  color: var(--black) !important;
  background-color: var(--accent) !important;
  transition: 0.2s;
  text-shadow: 0 0 black !important;
}
.shopCard:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px var(--black);
}
.spinValH {
  color: var(--black) !important;
  text-shadow: 0 0 black;
}
.setBodH[style="padding-top:15px"] div {
  color: var(--black) !important;
}
#storeList {
  overflow-x: initial;
}

.spinVal {
  color: var(--accent) !important;
  background-color: #ffffffad !important;
}
.purchKRInfoH {
  width: 422px;
  height: 140px;
  background-color: var(--accent);
  border: 4px solid var(--black);
}
.purchKRInfoH div {
  color: var(--black) !important;
}

.smlInput {
  border: 4px solid var(--black);
  background-color: var(--accent);
  color: var(--black) !important;
  transition: 0.2s;
}
.smlInput:focus {
  transform: translate(10px, -10px);
  box-shadow: -10px 10px var(--black);
}
.smlInput::placeholder {
  color: var(--black);
}
.smlInput::placeholder:focus {
  color: var(--black);
}
.creatorCodeBtn {
  background-color: var(--accent) !important;
  border: 4px solid var(--black);
  transform: translate(-5px, -5px);
  box-shadow: 1px 1px var(--black), 2px 2px var(--black), 3px 3px var(--black),
    4px 4px var(--black), 5px 5px var(--black);

  transition: 0.2s;
}
.creatorCodeBtn:hover {
  transform: translate(0);
  box-shadow: 0 0 black;
}

